In [2]:
import re
import numpy as np
import pandas as pd 

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

from keras.preprocessing import sequence
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM
from keras.datasets import imdb

from keras.utils.np_utils import to_categorical

import warnings
warnings.filterwarnings('ignore')
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

C:\Users\VIDUSHI\anaconda\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [3]:
max_features = 1000
maxlen = 80  # cut texts after this number of words (among top max_features most common words)
batch_size = 32

print('Loading data...')
(x_train, y_train), (x_test, y_test) = imdb.load_data(num_words=max_features)
print(len(x_train), 'train sequences')
print(len(x_test), 'test sequences')

Loading data...
25000 train sequences
25000 test sequences

In [4]:
print(x_test.shape)
print(x_train.shape)

(25000,)
(25000,)

In [5]:
print(x_test)
print(x_train)#these are the numbers which means no. corresponding to the corpus

[list([1, 591, 202, 14, 31, 6, 717, 10, 10, 2, 2, 5, 4, 360, 7, 4, 177, 2, 394, 354, 4, 123, 9, 2, 2, 2, 10, 10, 13, 92, 124, 89, 488, 2, 100, 28, 2, 14, 31, 23, 27, 2, 29, 220, 468, 8, 124, 14, 286, 170, 8, 157, 46, 5, 27, 239, 16, 179, 2, 38, 32, 25, 2, 451, 202, 14, 6, 717])
 list([1, 14, 22, 2, 6, 176, 7, 2, 88, 12, 2, 23, 2, 5, 109, 943, 4, 114, 9, 55, 606, 5, 111, 7, 4, 139, 193, 273, 23, 4, 172, 270, 11, 2, 2, 4, 2, 2, 109, 2, 21, 4, 22, 2, 8, 6, 2, 2, 10, 10, 4, 105, 987, 35, 841, 2, 19, 861, 2, 5, 2, 2, 45, 55, 221, 15, 670, 2, 526, 14, 2, 4, 405, 5, 2, 7, 27, 85, 108, 131, 4, 2, 2, 2, 405, 9, 2, 133, 5, 50, 13, 104, 51, 66, 166, 14, 22, 157, 9, 4, 530, 239, 34, 2, 2, 45, 407, 31, 7, 41, 2, 105, 21, 59, 299, 12, 38, 950, 5, 2, 15, 45, 629, 488, 2, 127, 6, 52, 292, 17, 4, 2, 185, 132, 2, 2, 2, 488, 2, 47, 6, 392, 173, 4, 2, 2, 270, 2, 4, 2, 7, 4, 65, 55, 73, 11, 346, 14, 20, 9, 6, 976, 2, 7, 2, 861, 2, 5, 2, 30, 2, 2, 56, 4, 841, 5, 990, 692, 8, 4, 2, 398, 229, 10, 10, 13, 2, 670, 2, 14, 9, 31, 7, 27, 111, 108, 15, 2, 19, 2, 2, 875, 551, 14, 22, 9, 2, 21, 45, 2, 5, 45, 252, 8, 2, 6, 565, 921, 2, 39, 4, 529, 48, 25, 181, 8, 67, 35, 2, 22, 49, 238, 60, 135, 2, 14, 9, 290, 4, 58, 10, 10, 472, 45, 55, 878, 8, 169, 11, 374, 2, 25, 203, 28, 8, 818, 12, 125, 4, 2])
 list([1, 111, 748, 2, 2, 2, 2, 4, 87, 2, 2, 7, 31, 318, 2, 7, 4, 498, 2, 748, 63, 29, 2, 220, 686, 2, 5, 17, 12, 575, 220, 2, 17, 6, 185, 132, 2, 16, 53, 928, 11, 2, 74, 4, 438, 21, 27, 2, 589, 8, 22, 107, 2, 2, 997, 2, 8, 35, 2, 2, 11, 22, 231, 54, 29, 2, 29, 100, 2, 2, 34, 2, 2, 2, 5, 2, 98, 31, 2, 33, 6, 58, 14, 2, 2, 8, 4, 365, 7, 2, 2, 356, 346, 4, 2, 2, 63, 29, 93, 11, 2, 11, 2, 33, 6, 58, 54, 2, 431, 748, 7, 32, 2, 16, 11, 94, 2, 10, 10, 4, 993, 2, 7, 4, 2, 2, 2, 2, 8, 847, 8, 2, 121, 31, 7, 27, 86, 2, 2, 16, 6, 465, 993, 2, 2, 573, 17, 2, 42, 4, 2, 37, 473, 6, 711, 6, 2, 7, 328, 212, 70, 30, 258, 11, 220, 32, 7, 108, 21, 133, 12, 9, 55, 465, 849, 2, 53, 33, 2, 2, 37, 70, 2, 4, 2, 2, 74, 476, 37, 62, 91, 2, 169, 4, 2, 2, 146, 655, 2, 5, 258, 12, 184, 2, 546, 5, 849, 2, 7, 4, 22, 2, 18, 631, 2, 797, 7, 4, 2, 71, 348, 425, 2, 2, 19, 2, 5, 2, 11, 661, 8, 339, 2, 4, 2, 2, 7, 4, 2, 10, 10, 263, 787, 9, 270, 11, 6, 2, 4, 2, 2, 121, 4, 2, 26, 2, 19, 68, 2, 5, 28, 446, 6, 318, 2, 8, 67, 51, 36, 70, 81, 8, 2, 2, 36, 2, 8, 2, 2, 18, 6, 711, 4, 2, 26, 2, 2, 11, 14, 636, 720, 12, 426, 28, 77, 776, 8, 97, 38, 111, 2, 2, 168, 2, 2, 137, 2, 18, 27, 173, 9, 2, 17, 6, 2, 428, 2, 232, 11, 4, 2, 37, 272, 40, 2, 247, 30, 656, 6, 2, 54, 2, 2, 98, 6, 2, 40, 558, 37, 2, 98, 4, 2, 2, 15, 14, 9, 57, 2, 5, 2, 6, 275, 711, 2, 2, 2, 98, 6, 2, 10, 10, 2, 19, 14, 2, 267, 162, 711, 37, 2, 752, 98, 4, 2, 2, 90, 19, 6, 2, 7, 2, 2, 2, 4, 2, 2, 930, 8, 508, 90, 4, 2, 8, 4, 2, 17, 2, 2, 2, 4, 2, 8, 2, 189, 4, 2, 2, 2, 4, 2, 5, 95, 271, 23, 6, 2, 2, 2, 2, 33, 2, 6, 425, 2, 2, 2, 2, 7, 4, 2, 2, 469, 4, 2, 54, 4, 150, 2, 2, 280, 53, 2, 2, 18, 339, 29, 2, 27, 2, 5, 2, 68, 2, 19, 2, 2, 4, 2, 7, 263, 65, 2, 34, 6, 2, 2, 43, 159, 29, 9, 2, 9, 387, 73, 195, 584, 10, 10, 2, 4, 58, 810, 54, 14, 2, 117, 22, 16, 93, 5, 2, 4, 192, 15, 12, 16, 93, 34, 6, 2, 2, 33, 4, 2, 7, 15, 2, 2, 2, 325, 12, 62, 30, 776, 8, 67, 14, 17, 6, 2, 44, 148, 687, 2, 203, 42, 203, 24, 28, 69, 2, 2, 11, 330, 54, 29, 93, 2, 21, 845, 2, 27, 2, 7, 819, 4, 22, 2, 17, 6, 2, 787, 7, 2, 2, 2, 100, 30, 4, 2, 2, 2, 2, 42, 2, 11, 4, 2, 42, 101, 704, 7, 101, 999, 15, 2, 94, 2, 180, 5, 9, 2, 34, 2, 45, 6, 2, 22, 60, 6, 2, 31, 11, 94, 2, 96, 21, 94, 749, 9, 57, 975])
 ...
 list([1, 13, 2, 15, 8, 135, 14, 9, 35, 32, 46, 394, 20, 62, 30, 2, 21, 45, 184, 78, 4, 2, 910, 769, 2, 2, 395, 2, 5, 2, 11, 119, 2, 89, 2, 4, 116, 218, 78, 21, 407, 100, 30, 128, 262, 15, 7, 185, 2, 284, 2, 2, 37, 315, 4, 226, 20, 272, 2, 40, 29, 152, 60, 181, 8, 30, 50, 553, 362, 80, 119, 12, 21, 846, 2])
 list([1, 11, 119, 241, 9, 4, 840, 20, 12, 468, 15, 94, 2, 562, 791, 39, 4, 86, 107, 8, 97, 14, 31, 33, 4, 2, 7, 743, 46, 2, 9, 2, 5, 4, 768, 47, 8, 79, 90, 145, 164, 162, 50, 6, 501, 119, 7, 9, 4, 78, 232, 15, 16, 224, 11, 4, 333, 20, 4, 985, 200, 5, 2, 5, 9, 2, 8, 79, 357, 4, 20, 47, 220, 57, 206, 139, 11, 12, 5, 55, 117, 212, 13, 2, 92, 124, 51, 45, 2, 71, 536, 13, 520, 14, 20, 6, 2, 7, 470])
 list([1, 6, 52, 2, 430, 22, 9, 220, 2, 8, 28, 2, 519, 2, 6, 769, 15, 47, 6, 2, 2, 8, 114, 5, 33, 222, 31, 55, 184, 704, 2, 2, 19, 346, 2, 5, 6, 364, 350, 4, 184, 2, 9, 133, 2, 11, 2, 2, 21, 4, 2, 2, 570, 50, 2, 2, 9, 6, 2, 17, 6, 2, 2, 21, 17, 6, 2, 232, 2, 2, 29, 266, 56, 96, 346, 194, 308, 9, 194, 21, 29, 218, 2, 19, 4, 78, 173, 7, 27, 2, 2, 2, 718, 2, 9, 6, 2, 17, 210, 5, 2, 2, 47, 77, 395, 14, 172, 173, 18, 2, 2, 2, 82, 127, 27, 173, 11, 6, 392, 217, 21, 50, 9, 57, 65, 12, 2, 53, 40, 35, 390, 7, 11, 4, 2, 7, 4, 314, 74, 6, 792, 22, 2, 19, 714, 727, 2, 382, 4, 91, 2, 439, 19, 14, 20, 9, 2, 2, 2, 4, 756, 25, 124, 4, 31, 12, 16, 93, 804, 34, 2, 2])]
[list([1, 14, 22, 16, 43, 530, 973, 2, 2, 65, 458, 2, 66, 2, 4, 173, 36, 256, 5, 25, 100, 43, 838, 112, 50, 670, 2, 9, 35, 480, 284, 5, 150, 4, 172, 112, 167, 2, 336, 385, 39, 4, 172, 2, 2, 17, 546, 38, 13, 447, 4, 192, 50, 16, 6, 147, 2, 19, 14, 22, 4, 2, 2, 469, 4, 22, 71, 87, 12, 16, 43, 530, 38, 76, 15, 13, 2, 4, 22, 17, 515, 17, 12, 16, 626, 18, 2, 5, 62, 386, 12, 8, 316, 8, 106, 5, 4, 2, 2, 16, 480, 66, 2, 33, 4, 130, 12, 16, 38, 619, 5, 25, 124, 51, 36, 135, 48, 25, 2, 33, 6, 22, 12, 215, 28, 77, 52, 5, 14, 407, 16, 82, 2, 8, 4, 107, 117, 2, 15, 256, 4, 2, 7, 2, 5, 723, 36, 71, 43, 530, 476, 26, 400, 317, 46, 7, 4, 2, 2, 13, 104, 88, 4, 381, 15, 297, 98, 32, 2, 56, 26, 141, 6, 194, 2, 18, 4, 226, 22, 21, 134, 476, 26, 480, 5, 144, 30, 2, 18, 51, 36, 28, 224, 92, 25, 104, 4, 226, 65, 16, 38, 2, 88, 12, 16, 283, 5, 16, 2, 113, 103, 32, 15, 16, 2, 19, 178, 32])
 list([1, 194, 2, 194, 2, 78, 228, 5, 6, 2, 2, 2, 134, 26, 4, 715, 8, 118, 2, 14, 394, 20, 13, 119, 954, 189, 102, 5, 207, 110, 2, 21, 14, 69, 188, 8, 30, 23, 7, 4, 249, 126, 93, 4, 114, 9, 2, 2, 5, 647, 4, 116, 9, 35, 2, 4, 229, 9, 340, 2, 4, 118, 9, 4, 130, 2, 19, 4, 2, 5, 89, 29, 952, 46, 37, 4, 455, 9, 45, 43, 38, 2, 2, 398, 4, 2, 26, 2, 5, 163, 11, 2, 2, 4, 2, 9, 194, 775, 7, 2, 2, 349, 2, 148, 605, 2, 2, 15, 123, 125, 68, 2, 2, 15, 349, 165, 2, 98, 5, 4, 228, 9, 43, 2, 2, 15, 299, 120, 5, 120, 174, 11, 220, 175, 136, 50, 9, 2, 228, 2, 5, 2, 656, 245, 2, 5, 4, 2, 131, 152, 491, 18, 2, 32, 2, 2, 14, 9, 6, 371, 78, 22, 625, 64, 2, 9, 8, 168, 145, 23, 4, 2, 15, 16, 4, 2, 5, 28, 6, 52, 154, 462, 33, 89, 78, 285, 16, 145, 95])
 list([1, 14, 47, 8, 30, 31, 7, 4, 249, 108, 7, 4, 2, 54, 61, 369, 13, 71, 149, 14, 22, 112, 4, 2, 311, 12, 16, 2, 33, 75, 43, 2, 296, 4, 86, 320, 35, 534, 19, 263, 2, 2, 4, 2, 33, 89, 78, 12, 66, 16, 4, 360, 7, 4, 58, 316, 334, 11, 4, 2, 43, 645, 662, 8, 257, 85, 2, 42, 2, 2, 83, 68, 2, 15, 36, 165, 2, 278, 36, 69, 2, 780, 8, 106, 14, 2, 2, 18, 6, 22, 12, 215, 28, 610, 40, 6, 87, 326, 23, 2, 21, 23, 22, 12, 272, 40, 57, 31, 11, 4, 22, 47, 6, 2, 51, 9, 170, 23, 595, 116, 595, 2, 13, 191, 79, 638, 89, 2, 14, 9, 8, 106, 607, 624, 35, 534, 6, 227, 7, 129, 113])
 ...
 list([1, 11, 6, 230, 245, 2, 9, 6, 2, 446, 2, 45, 2, 84, 2, 2, 21, 4, 912, 84, 2, 325, 725, 134, 2, 2, 84, 5, 36, 28, 57, 2, 21, 8, 140, 8, 703, 5, 2, 84, 56, 18, 2, 14, 9, 31, 7, 4, 2, 2, 2, 2, 2, 18, 6, 20, 207, 110, 563, 12, 8, 2, 2, 8, 97, 6, 20, 53, 2, 74, 4, 460, 364, 2, 29, 270, 11, 960, 108, 45, 40, 29, 2, 395, 11, 6, 2, 500, 7, 2, 89, 364, 70, 29, 140, 4, 64, 2, 11, 4, 2, 26, 178, 4, 529, 443, 2, 5, 27, 710, 117, 2, 2, 165, 47, 84, 37, 131, 818, 14, 595, 10, 10, 61, 2, 2, 10, 10, 288, 2, 2, 34, 2, 2, 4, 65, 496, 4, 231, 7, 790, 5, 6, 320, 234, 2, 234, 2, 2, 7, 496, 4, 139, 929, 2, 2, 2, 5, 2, 18, 4, 2, 2, 250, 11, 2, 2, 4, 2, 2, 747, 2, 372, 2, 2, 541, 2, 7, 4, 59, 2, 4, 2, 2])
 list([1, 2, 2, 69, 72, 2, 13, 610, 930, 8, 12, 582, 23, 5, 16, 484, 685, 54, 349, 11, 2, 2, 45, 58, 2, 13, 197, 12, 16, 43, 23, 2, 5, 62, 30, 145, 402, 11, 2, 51, 575, 32, 61, 369, 71, 66, 770, 12, 2, 75, 100, 2, 8, 4, 105, 37, 69, 147, 712, 75, 2, 44, 257, 390, 5, 69, 263, 514, 105, 50, 286, 2, 23, 4, 123, 13, 161, 40, 5, 421, 4, 116, 16, 897, 13, 2, 40, 319, 2, 112, 2, 11, 2, 121, 25, 70, 2, 4, 719, 2, 13, 18, 31, 62, 40, 8, 2, 4, 2, 7, 14, 123, 5, 942, 25, 8, 721, 12, 145, 5, 202, 12, 160, 580, 202, 12, 6, 52, 58, 2, 92, 401, 728, 12, 39, 14, 251, 8, 15, 251, 5, 2, 12, 38, 84, 80, 124, 12, 9, 23])
 list([1, 17, 6, 194, 337, 7, 4, 204, 22, 45, 254, 8, 106, 14, 123, 4, 2, 270, 2, 5, 2, 2, 732, 2, 101, 405, 39, 14, 2, 4, 2, 9, 115, 50, 305, 12, 47, 4, 168, 5, 235, 7, 38, 111, 699, 102, 7, 4, 2, 2, 9, 24, 6, 78, 2, 17, 2, 2, 21, 27, 2, 2, 5, 2, 2, 92, 2, 4, 2, 7, 4, 204, 42, 97, 90, 35, 221, 109, 29, 127, 27, 118, 8, 97, 12, 157, 21, 2, 2, 9, 6, 66, 78, 2, 4, 631, 2, 5, 2, 272, 191, 2, 6, 2, 8, 2, 2, 2, 544, 5, 383, 2, 848, 2, 2, 497, 2, 8, 2, 2, 2, 21, 60, 27, 239, 9, 43, 2, 209, 405, 10, 10, 12, 764, 40, 4, 248, 20, 12, 16, 5, 174, 2, 72, 7, 51, 6, 2, 22, 4, 204, 131, 9])]

In [36]:
print('Pad sequences (samples x time)')
x_train = sequence.pad_sequences(x_train, maxlen=maxlen)
x_test = sequence.pad_sequences(x_test, maxlen=maxlen)
print('x_train shape:', x_train.shape)
print('x_test shape:', x_test.shape)
print('y train',y_train)
print('y_test',y_test)

Pad sequences (samples x time)
x_train shape: (25000, 80)
x_test shape: (25000, 80)
y train [1 0 0 ... 0 1 0]
y_test [0 1 1 ... 0 0 0]

In [12]:
print(x_train)
print(x_test)#the length of corpus is decreased only most frequent words are there

[[ 15 256   4 ...  19 178  32]
 [125  68   2 ...  16 145  95]
 [645 662   8 ...   7 129 113]
 ...
 [529 443   2 ...   4   2   2]
 [286   2  23 ...  12   9  23]
 [ 97  90  35 ... 204 131   9]]
[[  0   0   0 ...  14   6 717]
 [  2 398 229 ... 125   4   2]
 [687   2 203 ...   9  57 975]
 ...
 [  0   0   0 ...  21 846   2]
 [  8  97  14 ...   2   7 470]
 [718   2   9 ...  34   2   2]]

In [194]:
INDEX_FROM=3
word_to_id=imdb.get_word_index()
#print(word_to_id)
word_to_id={k:(v+INDEX_FROM)for k,v in word_to_id.items()}
#print(word_to_id)

In [24]:
word_to_id["<PAD>"]=0
word_to_id["<START>"]=1
word_to_id["<UNK>"]=2

id_to_word={value:key for key,value in word_to_id.items()}
print(' '.join(id_to_word[id] for id in x_train[0]  ))#####################doubt

that played the <UNK> of <UNK> and paul they were just brilliant children are often left out of the <UNK> <UNK> i think because the stars that play them all <UNK> up are such a big <UNK> for the whole film but these children are amazing and should be <UNK> for what they have done don't you think the whole story was so <UNK> because it was true and was <UNK> life after all that was <UNK> with us all

In [40]:
print('Build model.....')
model=Sequential()
model.add(Embedding(max_features,32))
model.add(LSTM(128,dropout=0.2,recurrent_dropout=0.2))
model.add(Dense(1,activation='sigmoid'))# 1 is the no of neurons in sigmoid layer
model.summary()

Build model.....
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_4 (Embedding)      (None, None, 32)          32000
_________________________________________________________________
lstm_4 (LSTM)                (None, 128)               82432
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 129
=================================================================
Total params: 114,561
Trainable params: 114,561
Non-trainable params: 0
_________________________________________________________________

In [42]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
print('Train')
model.fit(x_train,y_train,batch_size=batch_size,epochs=1,validation_data=(x_test,y_test))

Train
Train on 25000 samples, validate on 25000 samples
Epoch 1/1
25000/25000 [==============================] - 116s 5ms/step - loss: 0.4391 - acc: 0.8009 - val_loss: 0.4210 - val_acc: 0.8054

In [27]:
score,acc=model.evaluate(x_test,y_test,batch_size=batch_size)
print("Test score:",score)
print("accuracy",acc)

25000/25000 [==============================] - 22s 897us/step
Test score: 0.4314479623031616
accuracy 0.80368

In [48]:
prediction=model.predict(x_test[0:1])
print('Prediction value',prediction[0])
print('Test label',y_test[2:3])

Prediction value [0.4917033]
Test label [1]

In [46]:
model=Sequential()
model.add(Embedding(max_features,32))
model.add(LSTM(8,dropout=0.9,recurrent_dropout=0.9))
model.add(Dense(1,activation='sigmoid'))

In [47]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
model.fit(x_train,y_train,batch_size=batch_size,epochs=1,validation_data=(x_test,y_test))
score,acc=model.evaluate(x_test,y_test,batch_size)
print('Test score',score)
print('Test accuracy',acc)

Train on 25000 samples, validate on 25000 samples
Epoch 1/1
25000/25000 [==============================] - 70s 3ms/step - loss: 0.6872 - acc: 0.5498 - val_loss: 0.6669 - val_acc: 0.6395
25000/25000 [==============================] - 9s 375us/step
Test score 0.6668669400787354
Test accuracy 0.63948

In [52]:
predict=model.predict(x_test[5:6])
print('prediction value',prediction[0])
print('Test label',y_test[5:6])

prediction value [0.4917033]
Test label [1]

In [253]:
#lets test it with the custom data
import pandas as pd
data=pd.read_csv('senti.csv')
data=data[['text','sentiment']]
data.head(15)

                                      text sentiment
0                          I love this car  Positive
1                     This view is amazing  Positive
2                I feel great this morning  Positive
3        I am so excited about the concert  Positive
4                     He is my best friend  Positive
5                   I do not like this car  Negative
6                    This view is horrible  Negative
7                I feel tired this morning  Negative
8  I am not looking forward to the concert  Negative

In [276]:
#format the data
data=data[data.sentiment!='Neutral']
data['text']=data['text'].apply(lambda x:x.lower())
data['text']=data['text'].apply((lambda x:re.sub('[^a-zA-Z0-9\s]','',x)))#it replaces all the remaining characters except the range given
print(data)

                                     text sentiment
0                         i love this car  Positive
1                    this view is amazing  Positive
2               i feel great this morning  Positive
3        i am so excited about the conce   Positive
4                    he is my best friend  Positive
5                  i do not like this car  Negative
6                   this view is horrible  Negative
7               i feel tired this morning  Negative
8  i am not looking forward to the conce   Negative

In [277]:
print('positive samples',data[data['sentiment']=='Positive'].size)

positive samples 10

In [278]:
print('Negative samples',data[data['sentiment']=='Negative'].size)
print(row[0])

Negative samples 8
i am not looking forward to the conce

In [279]:
for idx,row in data.iterrows(): #iterate row wise
    row[0]=row[0].replace('rt',' ')

In [280]:
print(row[0])

i am not looking forward to the conce

In [281]:
max_fatures=2000

In [282]:
tokenizer=Tokenizer(nb_words=max_fatures,split=' ')
tokenizer.fit_on_texts(data['text'].values)
print(data['text'].values)
print(tokenizer.fit_on_texts)

['i love this car' 'this view is amazing' 'i feel great this morning'
 'i am so excited about the conce ' 'he is my best friend'
 'i do not like this car' 'this view is horrible'
 'i feel tired this morning' 'i am not looking forward to the conce ']
<bound method Tokenizer.fit_on_texts of <keras_preprocessing.text.Tokenizer object at 0x000001DE47FCE8D0>>

In [283]:
X=tokenizer.texts_to_sequences(data['text'].values)
print(X)
X=pad_sequences(X)#pads the sequences
print(X)

[[1, 12, 2, 4], [2, 5, 3, 13], [1, 6, 14, 2, 7], [1, 8, 15, 16, 17, 9, 10], [18, 3, 19, 20, 21], [1, 22, 11, 23, 2, 4], [2, 5, 3, 24], [1, 6, 25, 2, 7], [1, 8, 11, 26, 27, 28, 9, 10]]
[[ 0  0  0  0  1 12  2  4]
 [ 0  0  0  0  2  5  3 13]
 [ 0  0  0  1  6 14  2  7]
 [ 0  1  8 15 16 17  9 10]
 [ 0  0  0 18  3 19 20 21]
 [ 0  0  1 22 11 23  2  4]
 [ 0  0  0  0  2  5  3 24]
 [ 0  0  0  1  6 25  2  7]
 [ 1  8 11 26 27 28  9 10]]

In [284]:
Y=pd.get_dummies(data['sentiment']).values#split the sentiment into 1,0 see the function of get_dummies
print(Y)#[0,1]-positive
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.33,random_state=42)

[[0 1]
 [0 1]
 [0 1]
 [0 1]
 [0 1]
 [1 0]
 [1 0]
 [1 0]
 [1 0]]

In [285]:
print(X_train)
print(Y_train)
print(X_test)

[[ 0  0  0  0  1 12  2  4]
 [ 1  8 11 26 27 28  9 10]
 [ 0  0  0  1  6 14  2  7]
 [ 0  0  0 18  3 19 20 21]
 [ 0  1  8 15 16 17  9 10]
 [ 0  0  0  0  2  5  3 24]]
[[0 1]
 [1 0]
 [0 1]
 [0 1]
 [0 1]
 [1 0]]
[[ 0  0  0  1  6 25  2  7]
 [ 0  0  0  0  2  5  3 13]
 [ 0  0  1 22 11 23  2  4]]

In [286]:
model=Sequential()
model.add(Embedding(max_features,128,input_length=X.shape[1],dropout=0.2))
model.add(LSTM(128))
model.add(Dense(2,activation='softmax'))
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])
print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_18 (Embedding)     (None, 8, 128)            256000
_________________________________________________________________
lstm_17 (LSTM)               (None, 128)               131584
_________________________________________________________________
dense_17 (Dense)             (None, 2)                 258
=================================================================
Total params: 387,842
Trainable params: 387,842
Non-trainable params: 0
_________________________________________________________________
None

In [287]:
batch_size=32
model.fit(X_train,Y_train,epochs=5,batch_size=batch_size,verbose=2)

Epoch 1/5
 - 2s - loss: 0.6928 - acc: 0.5000
Epoch 2/5
 - 0s - loss: 0.6813 - acc: 0.6667
Epoch 3/5
 - 0s - loss: 0.6714 - acc: 0.6667
Epoch 4/5
 - 0s - loss: 0.6593 - acc: 0.6667
Epoch 5/5
 - 0s - loss: 0.6462 - acc: 0.6667

In [288]:
score,acc=model.evaluate(X_test,Y_test,verbose=2,batch_size=batch_size)
print("Score: %.3f" %score)#loss
print("Accuracy: %.2f" %(acc))
prediction=model.predict(X_test[1:2])
print(prediction[0])
print('test label',Y_test[1:2])

Score: 0.745
Accuracy: 0.33
[0.45576233 0.5442377 ]
test label [[0 1]]

In [289]:
text='he is good boy'
tester=np.array([text])
print(tester)
tester=pd.DataFrame(tester)#convert into a table with rows and columns
print(tester)
tester.columns=['text']#write the column as 'text'
print(tester)

['he is good boy']
                0
0  he is good boy
             text
0  he is good boy

In [290]:
tester['text']=tester['text'].apply(lambda x:x.lower())
#tester['text']=tester['text'].apply((lambda x:re.sub('[^a-zA-z0-9\s]','',x)
print(tester)

             text
0  he is good boy

In [291]:
#formatting (pre-processing)
#1.convert ur data to tabular format then to lower case,then use re.sub by replacing the special characters
#2.read rowwise,by iterrows
#3.throgh tokenizer classes ,tokenize,split by' ',convert ur words into (random)no's
#then pad those no by 0-----------this was all for X
#now using get_dummies do this for y ,
#randomly segregate the test and train set

In [292]:
max_fatures = 2000
tokenizer = Tokenizer(nb_words=max_fatures, split=' ')
tokenizer.fit_on_texts(tester['text'].values)
test = tokenizer.texts_to_sequences(tester['text'].values)
print(test)
test = pad_sequences(test)
print(test)

if X.shape[1]>test.shape[1]:
    test = np.pad(test[0], (X.shape[1]-test.shape[1],0), 'constant')
    
test = np.array([test])
print(test)# without converting it into array it will give error
prediction = model.predict(test)
print('Prediction value:',prediction[0])

[[1, 2, 3, 4]]
[[1 2 3 4]]
[[0 0 0 0 1 2 3 4]]
Prediction value: [0.43992394 0.560076  ]